.vacancies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: var(--section-padding-y);
  overflow-x: hidden;

  &__empty {
    padding-top: fluid(16, 8);
  }

  .infinite-scroll-component {
    width: 100%;
    overflow: hidden !important;
  }
}
