.role-description {
  &__USER,
  &__EMPLOYER {
    font-size: fluid(14, 10);
    width: fluid(400, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: fluid(8, 4);
    margin-top: fluid(6, 3);
    padding: fluid(8, 6);
    border-radius: var(--border-radius-s);

    .icon {
      @include square(30px);
    }
  }

  &__USER {
    background-color: rgba(52, 152, 219, 0.5);
    border: 1px solid var(--color-blue-30);
  }
  &__EMPLOYER {
    background-color: rgba(155, 89, 182, 0.5);
    border: 1px solid var(--color-violet-30);
  }
}
