.login-form {
  display: flex;
  flex-direction: column;

  &__button {
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-violet-20);
    border: none;
    border-radius: var(--border-radius-s);
    padding-block: fluid(8, 6);
  }

  &__error {
    font-size: fluid(12, 8);
    color: var(--color-red-10);
  }
}
